{% extends 'base.html.twig' %}

{% block title %}AprentiStage{% endblock %}

{% block body %}
    <div class="index">
        <div class="index-column">
            <p>Votre stage/alternance <br>
                en un click</p>
            <div class="index-area-button">
                <button class="index-button">
                    <a href="{{ path('app_poste') }}">rechercher</a>
                </button>
                <img class="img-recherche" src="{{ asset('/images/index-hand.png')}}"  alt="image rechercher"/>
            </div>
        </div>
        <img class="index-img" src="{{ asset('/images/index-background.png') }}" alt="image fond"/>
    </div>
{% endblock %}
