{% extends 'base.html.twig' %}

{% block title %}Modifier le CV{% endblock %}

{% block body %}
    <h1>Modifier le CV</h1>

    {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
    {{ form_widget(form) }}
    <button type="submit">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}
