{% extends 'base.html.twig' %}
{% block title %}Modifier le statut{% endblock %}

{% block body %}
    <h1>Modifier le statut</h1>

    {{ form_start(form)}}
    {{ form_widget(form) }}
    <button type="submit">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}
