ul {
    list-style-type: none;
    font-size: 1rem;
    font-family: "Archivo Black", sans-serif;
}

.poste-entr-name {
    font-size: 3em;
    font-family: monospace;
    background-color: #03bde4;
    border: 2px solid #000;
    padding: 0.25em 0.5em;
    transition: background-color 2s ease-out;
    transition: color 2s ease-out;
}

.poste-entr-name:hover {
    background-color: darkviolet;
    color: #fff;
}

.poste-name::before {
    content: "Poste: ";
}

.poste-place::before {
    content: "Lieu: ";
}


.poste-dates::before {
    content: "Dates: ";
}

.poste-description::before {
    content: "Description: ";
}

