{%  extends 'base.html.twig' %}

{% block title %}Profil de {{ app.user.nom }} {{ app.user.prenom }}{% endblock %}

{% block body %}
    <h1>Profil de {{ app.user.nom }} {{ app.user.prenom }}</h1>
{% endblock %}
